@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Muli:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

bg-blue {
  background-color: #429bb8;
}
#arrowButton:hover {
  background-color:white;
  color:transparent;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.6em 0.6em;

}
input[type="text"] {
  height: 50px; }

.form-group {
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .form-group #fname {
      margin-bottom: 30px; } }
  .form-group label {
    font-weight: 400; }
  .form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px; }

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  font-size: 16px !important;
  font-weight: 300;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e6e6e6; }

.contact-info-wrap-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3em; }
  .contact-info-wrap-flex .con-info {
    width: 100%;
    background: #fff;
    padding: 1.5em;
    background: white;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .contact-info-wrap-flex .con-info {
        width: 100%;
        margin: 4px !important; } }
  .contact-info-wrap-flex p {
    margin-bottom: 0;
    color: #000; }
    .contact-info-wrap-flex p span i {
      color: #4aca85; }
    .contact-info-wrap-flex p a {
      color: #000; }


#categories .row .category {
  background: white;
  text-align: center;
}

#categories .row .category .category-info a {
  font-size: 32px;
  font-weight: bold;
}

#categories .row .category .category-descr {
  font-size: 14px;
}

#categories .row .category .category-icon {
  color: #10bcff;
}

#joinFirstSection .single-feature h4 {

}

#joinFirstSection .single-feature {
  padding: 15px;
}

#joinFirstSection .single-feature p {
  font-size: 16px;
}

.media-body p {
  font-size: 16px;
}

.fadeSection {
  transition: background 0.4s ease-out;
  -webkit-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
}

.fadeSection h1 {
  color: white;
  font-family: 'Playfair Display', 'Montserrat', sans-serif;
}

.fadeSection .row .col {
  color: white !important;
  text-align: left;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 25px;
  -webkit-transition: .3s opacity ease-in;
  -o-transition: .3s opacity ease-in;
  transition: .3s opacity ease-in;
  opacity: 0.7;
}

.fadeSection .row .col:hover {
  opacity: 1;
  border-left: 2px solid #10bcff;;
}

.fadeSection .row .col .topHeader {
  font-size: 18px;
  font-weight: 400;
}

.fadeSection .row .col .bottomHeader {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
  font-weight: bold;
}

#ourPhilosophy p {
  text-align:justify;
  color: #2a3035;  
  margin-left:20%; 
  margin-right:20%; 
  font-family: 'Montserrat'; 
  font-weight: 100; 
  font-size: 18px;
}

hr {
  margin-left:40%;
  margin-right: 40%;
  border: none;
  color: black;
  background-color: black !important;
  height: 1px !important
  
}

.clients-logo-area > a > img {
    max-width: 170px;
    height: auto;
}
.testinghere {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}



.ftco-degree-bg {
  position: relative; }
  .ftco-degree-bg:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -50px;
    overflow: visible;
    width: 100%;
    height: 120px;
    z-index: 0;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    background-color: #fff; }

.ftco-section-featured {
  margin-top: -250px;
  padding-bottom: 7em; }
  .ftco-section-featured .container {
    position: relative; }
    .ftco-section-featured .container .owl-carousel .owl-stage-outer {
      padding-bottom: 2em; }
    .ftco-section-featured .container .carousel img {
      border: 1px solid #f4f4f5; }



.testimony-section {
  position: relative; }
  .testimony-section .owl-carousel {
    margin: 0; }
  .testimony-section .owl-carousel .owl-stage-outer {
    padding-bottom: 2em;
    position: relative; }
    .testimony-section .owl-carousel .owl-stage-outer:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset 105px 0px 70px -60px white;
      -moz-box-shadow: inset 105px 0px 70px -60px white;
      box-shadow: inset 105px 0px 70px -60px white;
      z-index: 1; }
    .testimony-section .owl-carousel .owl-stage-outer:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset -105px 0px 70px -60px white;
      -moz-box-shadow: inset -105px 0px 70px -60px white;
      box-shadow: inset -105px 0px 70px -60px white; }
    @media (max-width: 767.98px) {
      .testimony-section .owl-carousel .owl-stage-outer:before, .testimony-section .owl-carousel .owl-stage-outer:after {
        display: none; } }
.testimony-section {
  position: relative; }
  .testimony-section .owl-carousel {
    margin: 0; }
  .testimony-section .owl-carousel .owl-stage-outer {
    padding-bottom: 2em;
    position: relative; }
    .testimony-section .owl-carousel .owl-stage-outer:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset 105px 0px 70px -60px white;
      -moz-box-shadow: inset 105px 0px 70px -60px white;
      box-shadow: inset 105px 0px 70px -60px white;
      z-index: 1; }
    .testimony-section .owl-carousel .owl-stage-outer:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset -105px 0px 70px -60px white;
      -moz-box-shadow: inset -105px 0px 70px -60px white;
      box-shadow: inset -105px 0px 70px -60px white; }
    @media (max-width: 767.98px) {
      .testimony-section .owl-carousel .owl-stage-outer:before, .testimony-section .owl-carousel .owl-stage-outer:after {
        display: none; } }


.testimony-wrap {
  background: #fff;
  display: block;
  position: relative;
  border: 1px solid #e7e7e8; }
  .testimony-wrap .user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative; }
    .testimony-wrap .user-img .quote {
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 40px;
      height: 40px;
      background: #79efb4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .testimony-wrap .user-img .quote i {
        color: #fff; }
  .testimony-wrap .name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #404044; }
  .testimony-wrap .position {
    font-size: 13px;
    color: #c0c0c3; }
  .testimony-wrap .star-rate {
    font-size: 12px; }
    .testimony-wrap .star-rate span {
      margin-left: 1px;
      margin-right: 1px;
      color: #78d5ef; }

.portfolio_image_area {
  padding-top: 30px;
  padding-bottom: 130px;
  position: relative;
}

@media (max-width: 767px) {
  /* line 2, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
  .portfolio_image_area {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.portfolio_image_area.dec_margin {
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  /* line 10, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 70px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 10, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 100px 0;
  }
}

/* line 24, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_thumb {
  height: 350px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
  .portfolio_image_area .single_Portfolio .portfolio_thumb {
    height: auto;
  }
}

/* line 36, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_thumb img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 42, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 4px solid #10bcff ;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 56, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 64, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover span {
  font-size: 14px;
  color: #10bcff;;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* line 70, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover h3 {
  color: #1F1F1F;
  font-size: 24px;
  font-weight: 700;
  margin-top: 11px;
  margin-bottom: 25px;
}

/* line 78, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover .boxed-btn3:hover {
  border: 1px solid #10bcff; !important;
  color: #10bcff; !important;
  background: #fff !important;
}

/* line 85, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio:hover .portfolio_hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 90, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .more_portfolio {
  margin-top: 60px;
}

/* line 93, ../../Arafath/CL/December/233. Startup/HTML/scss/_portfolio.scss */
.portfolio_image_area .popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

/* Buttons */
.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #10bcff;
  color: #fff;
  display: inline-block;
  padding: 12px 33px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* line 45, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  border: 2px solid #10bcff;
  color: #10bcff !important;
  
  background: white;
}

/* line 50, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}

/* line 53, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3.large-width {
  width: 220px;
}

html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: "Montserrat", "Muli", "Open Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}

p, ul, ol {
  margin-bottom: 30px;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Playfair Display", serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #999999;
}

.btn, .form-control {
  outline: none;
}

.form-group .label {
  font-weight: normal;
}

textarea.form-control {
  height: inherit;
}

.form-field-icon-wrap {
  position: relative;
}

.form-field-icon-wrap .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-field-icon-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 47px !important;
}

/* Site Menu*/
.site-menu {
  display: block;
  background: #fff;
  right: 0;
  z-index: 101;
  position: fixed;
  width: 300px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  bottom: 0;
  top: 0;
  -webkit-box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
  min-height: 300px;
  overflow: auto;
}

.site-menu ul {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}

.site-menu ul > li {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  margin: 0 0 10px 0;
  top: -20px;
  position: relative;
  text-align: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-menu ul > li.is-show {
  visibility: visible;
  opacity: 1;
  top: 0px;
}

.site-menu ul > li a {
  color: #000;
  font-size: 20px;
}

.site-menu.site-menu-show {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.bg-slant-white {
  position: relative;
}

.bg-slant-white:after {
  z-index: 1;
  background: #fff;
  content: "";
  -webkit-transform: rotate(-5deg) translateX(-50%);
  -ms-transform: rotate(-5deg) translateX(-50%);
  transform: rotate(-5deg) translateX(-50%);
  width: 120%;
  position: absolute;
  bottom: 0;
  height: 200px;
  left: 50%;
}

.bg-slant-white.bg-light:after {
  background: #f8f9fa;
}

.site-logo-wrap {
  position: relative;
  z-index: 1021;
}

/* Site Header */
.site-header {
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  background: white;
  height: 120px;
  line-height: 120px;
}

.site-header .site-logo #logo {
  position: absolute;
  height: 100px;
  width: 100px;
}

.navbar {
  width: 100vw;
  height: auto;
  z-index: 100;
}

.navbar .navbar-brand {
  height: 105px;
  width: 55px;
  background: url('../logo2.png') top center no-repeat;
  background: url('../logo4.png') top center no-repeat;
  position: absolute;
  -webkit-background-size:100% auto;
  background-size:100% auto;
  text-decoration:none;
  cursor:pointer;
  z-index:102;
  margin-bottom: 10px;
}

#donateButton {
  position: relative;
  font-weight: bold; 
  font-size: 14px; 
  text-align: center;
  margin: 10px 15px 0 25px;
}

#donateButton:hover {
  background: white;
  color: black;
  text-decoration: none;
  border: 2px solid white;
}

.navbar .nav-link {
  color: white !important;
  position: relative;
  -webkit-transition:opacity .3s;
  transition:opacity .3s;
  width:auto;
  height:50px;
  color:white;
  text-transform:uppercase;
  font-size:16px;
  line-height:50px;
  font-family: "Muli";
  margin:0 15px;
  text-align:center;
  min-width:55px;
  letter-spacing:1px;
}

.navbar .nav-link:hover {
  border-bottom: 3px solid white;
  transition: opacity 2.0s ease-in;
  -webkit-transition: opacity 2.0s ease-in;
}

.header-background {
  width:100%;
  height:100%;
  background:#10bcff;
  background: #429bb8;
  background: #10bcff;
  opacity:0;
  zoom:1;
  position:absolute;
  top:0;
  left:0;
}

.secondary-nav {
	float: left;
	width: 100%;
	height: 0;
	border-top: 0 solid rgba(151, 151, 151, .9);
	border-bottom: 0 solid rgba(151, 151, 151, .9);
	text-align: center;
	position: absolute;
  /*margin-top: 30px;*/
  top: 100px;
  overflow: hidden;
  margin-left: -30px;
}

.secondary-nav__link {
	position: relative;
	display: inline-block;
	color:#747679;
	font-size: 14px;
	line-height: 60px;
	margin: 0 15px;
  font-family: "Muli", "Montserrat", sans-serif;
  font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px
}

.secondary-nav__link:before {
	-webkit-transition: opacity .13s;
	transition: opacity .13s;
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background: #10bcff;
	position: absolute;
	bottom: 17px;
	left: 0;
	opacity: 0
}

.secondary-nav__link.active:before,
.secondary-nav__link:hover:before {
	opacity: 1
}

.secondary-nav__link:hover {
	-webkit-transition: color .13s;
	transition: color .13s;
	color: #10bcff
}

.secondary-nav__link.active {
	color: #10bcff
}

.site-header .social li {
  display: inline-block;
}

.site-header .social li a {
  color: #000;
  padding: 0 10px;
}

.site-header .heading {
  color: #fff;
}

.site-header.scrolled {
  height: 100px;
  position: fixed;
  padding: 1em 30px;
  top: 0;
  background: #fff;
  
}

.site-header.scrolled .social {
  margin-top: 10px;
}

.site-header.scrolled .social li a {
  color: #000;
}

.site-header.scrolled .site-logo {
  /*
  line-height: 1.5;
  display: inline-block;
  position: relative;
  padding: 2px 10px;
  border: 2px solid #000;
  color: #fff;
  background: #000;
  font-size: 30px;
  */
}

.site-header.scrolled .site-nav-toggle {
  top: -5px !important;
}

.site-header.awake {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-header.sleep {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.form-control {
  border: 0px
}

.form-control:hover, .form-control:focus, .form-control:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #10bcff;
}

.site-nav-toggle {
  top: -10px !important;
}

.site-nav-toggle i, .site-nav-toggle i:before, .site-nav-toggle i:after {
  background: #000 !important;
}

.btn {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover, .btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary.btn-outline-primary {
  border-width: 2px;
  cursor: pointer;
}

.btn.btn-transparent {
  color: white;
  background: none;
  text-decoration: none;
  border: 2px solid white;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.btn.btn-transparent:hover {
  background: white;
  color:#10bcff;
  text-decoration: none;
  border: 2px solid #10bcff;
}

.btn.btn-outline-white:hover {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  text-decoration: none;
}

.btn.btn-outline-white {
  background: #fff;
  color: #000;
  border: 2px solid transparent;
}

.btn.btn-outline-donate {
  background: transparent; 
  color: #fff;
  text-decoration: none;
  border: 2px solid white;

}

.btn.btn-outline-blue {
  background: rgb(0, 183, 255);
  color: white;
  text-decoration: none;
  border: 2px solid white;
}

.btn.btn-outline-blue:hover {
  background: none;
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
 
}

.bg-image, .half .image, .image-bg-fullwidth {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.half .text, .half .image {
  width: 100%;
}

@media (min-width: 992px) {
  .half .text, .half .image {
    width: 50%;
  }
}

.half .text {
  padding: 7%;
  background: #000;
}

.half .text h2 {
  color: #fff;
}

@media (max-width: 991.98px) {
  .half .image {
    height: 250px;
  }
}

.image-bg-fullwidth {
  display: block;
  height: 300px;
}

.section-heading h2 {
  font-size: 40px;
}

@media (max-width: 991.98px) {
  .section-heading h2 {
    font-size: 30px;
  }
}

.section-heading .sub-heading {
  font-size: 20px;
}

.section-heading .small-sub-heading {
  font-size: 14px;
  color: #ff7a5c;
}

@media (min-width: 992px) {
  .media figure.horizontal {
    width: 150px;
  }
}

.media h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.media .post-meta {
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.media > a {
  width: 40%;
}

@media (max-width: 767.98px) {
  .media > a {
    width: 100%;
    margin-bottom: 30px;
  }
}

.media.media-bg-white {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.media.media-bg-white figure {
  margin-bottom: 0;
}

.media.media-bg-white .media-body {
  padding: 20px;
  background: #fff;
}

.ftco-46 .ftco-46-row > div {
  text-align: center;
  width: 100%;
}

@media (min-width: 992px) {
  .ftco-46 .ftco-46-row > div {
    width: 33.33333%;
  }
}

.ftco-46 .ftco-46-subheading {
  font-size: 14px;
  color: #b3b3b3;
  color: #ff7a5c;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.ftco-46 .ftco-46-heading {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 30px;
}

.ftco-46 .ftco-46-image {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.ftco-46 .ftco-46-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .05;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-image {
    height: 200px;
    display: none;
  }
}

.ftco-46 .ftco-46-text {
  padding: 40px;
  background: #fff;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text {
    margin-bottom: 20px;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-up {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-up:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-up:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-left {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-left:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-left:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-right {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-right:after {
  left: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-right:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text p:last-child {
  margin-bottom: 0;
}

.ftco-38 .ftco-38-header .ftco-38-heading {
  font-size: 30px;
  color: #000;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  .ftco-38 .ftco-38-header .ftco-38-heading {
    font-size: 24px;
  }
}

.ftco-38 .ftco-38-header .ftco-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .ftco-38 .ftco-38-header .ftco-38-subheading {
    font-size: 18px;
  }
}

.ftco-38 .ftco-38-header img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.btn-link {
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: .15em;
  text-decoration: none !important;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #000;
  font-weight: 900;
}

.btn-link span {
  position: relative;
  margin-left: 0px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #000;
}

.btn-link:hover span, .btn-link:active span, .btn-link:focus span {
  color: #000;
  margin-left: 10px;
}

.site-tab-nav {
  display: block;
  text-align: center;
  margin-bottom: 80px !important;
}

.site-tab-nav li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.site-tab-nav li a {
  background: none;
  color: gray;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-bottom: 2px solid transparent;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
  font-weight: 600;
  border-bottom: 2px solid #e6e6e6;
}

.site-tab-nav li a.active {
  color: black;
  color: #ff7a5c;
  background: none;
  border-bottom: 2px solid #ff7a5c;
}

.site-tab-nav, .nav-pills {
  text-align: center;
}

.menu-food-item {
  border-bottom: 1px dotted #ccc;
  float: left;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.menu-food-item .text {
  width: calc(100%);
}

.menu-food-item .text img {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 7px;
  float: left;
  margin-right: 30px;
}

@media (max-width: 991.98px) {
  .menu-food-item .text img {
    float: none;
  }
}

@media (min-width: 768px) {
  .menu-food-item .text {
    width: calc(100% - 70px);
  }
}

.menu-food-item .price {
  text-align: left;
  width: 100%;
  color: rgb(0, 183, 255) !important;
}

@media (min-width: 768px) {
  .menu-food-item .price {
    width: 70px;
    text-align: right;
  }
}

.menu-food-item .price strong {
  color: #429bb8;
  color: rgb(0, 183, 255);
  font-size: 20px;
}

.menu-food-item h3 {
  font-size: 22px;
}

.menu-food-item h3 a {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.menu-food-item h3 a:hover {
  color: gray;
}

.menu-food-item p:last-child {
  margin-bottom: 0;
}

.footer-contact-widget .contact-email {
  color: #ff7a5c;
}

.fa-facebook:hover {

  color:#3b5998;
}

.fa-twitter:hover {
  color: #00acee
}
.fa-linkedin:hover {
  color: #0e76a8 
}
.fa-instagram:hover {
  color: #8a3ab9
}

.footer-contact-widget .contact-phone {
  font-size: 30px;
  color: #2a3035;
}

.lead {
  font-size: 16px;
}

.testimonial p {
  font-size: 20px;
  color: #000;
}

.testimonial .author {
  text-align: center;
}

.testimonial .author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial .author .author-info {
  margin-top: 20px;
}

.testimonial .author h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.testimonial .author p {
  color: #cccccc;
  font-size: 14px;
}

.custom-icon {
  font-size: 70px;
  color: #ff7a5c;
}

.form-subscribe .form-group {
  position: relative;
}

.form-subscribe .form-group input[type="email"],
.form-subscribe .form-group input[type="text"] {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: #f2f2f2;
  border: none;
  border-radius: 0 !important;
  padding-right: 100px;
}

.form-subscribe .form-group input[type="submit"] {
  position: absolute;
  right: 0;
  top: 1px;
  border-radius: 0 !important;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.feature-icon .icon {
  text-align: center;
  font-size: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.feature-icon .icon > span {
  color: #000;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-icon h3 {
  margin-bottom: 20px;
}

/* Owl Carousel */
.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  opacity: .2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
  opacity: 1;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: none;
  background: #fff;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: none;
}

.owl-carousel.centernonloop .owl-dots {
  margin-top: 50px;
}

.owl-carousel.centernonloop .owl-dots.disabled {
  display: block !important;
}

.owl-carousel.centernonloop .owl-dots .owl-dot {
  background: #ccc;
}

.owl-carousel.centernonloop .owl-dots .owl-dot.active {
  background: #ff7a5c;
}

.owl-carousel.centernonloop .owl-dots .owl-dot:active, .owl-carousel.centernonloop .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel.home-slider, .owl-carousel.home-slider-loop-false {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .btn-link, .owl-carousel.home-slider-loop-false .btn-link {
  color: #fff;
}

.owl-carousel.home-slider .owl-nav, .owl-carousel.home-slider-loop-false .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button, .owl-carousel.home-slider-loop-false .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav, .owl-carousel.home-slider-loop-false:focus .owl-nav, .owl-carousel.home-slider-loop-false:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item, .owl-carousel.home-slider-loop-false .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before, .owl-carousel.home-slider-loop-false .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text, .owl-carousel.home-slider-loop-false .slider-item .slider-text {
  color: #fff;
  height: calc(100vh);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name, .owl-carousel.home-slider-loop-false .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1, .owl-carousel.home-slider-loop-false .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1, .owl-carousel.home-slider-loop-false .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p, .owl-carousel.home-slider-loop-false .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider.inner-page .slider-item, .owl-carousel.home-slider-loop-false.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 550px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text, .owl-carousel.home-slider-loop-false.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 550px;
}

.owl-carousel.home-slider .owl-dots, .owl-carousel.home-slider-loop-false .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.home-slider-loop-false .owl-dots {
  bottom: -50px;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #ff7a5c;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active {
  border: 2px solid #ff7a5c;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.menu-burger-wrap {
  position: relative;
  z-index: 1000;
}

.site-nav-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: -15px;
  z-index: 109;
  display: block !important;
  float: right;
  right: 0;
  display: none;
  border-bottom: none !important;
}

.site-nav-toggle:hover i:before {
  top: -10px;
}

.site-nav-toggle:hover i:after {
  bottom: -10px;
}

.site-nav-toggle.active i {
  background: transparent !important;
}

.site-nav-toggle.active i:before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.site-nav-toggle.active i:after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.site-nav-toggle:hover, .site-nav-toggle:focus, .site-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.site-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.site-nav-toggle i:before, .site-nav-toggle i:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.site-nav-toggle i:before {
  top: -7px;
}

.site-nav-toggle i:after {
  bottom: -7px;
}

.section {
  padding: 3em 0;
  z-index: 2;
  position: relative;
}

.text-muted {
  color: #cccccc !important;
}

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.custom-pagination li {
  display: inline-block;
}

.custom-pagination .prev a, .custom-pagination .next a {
  font-size: 20px !important;
  line-height: 38px !important;
}

.custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
}

.custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
  background: #ff7a5c;
  color: #fff;
}

.custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus {
  color: #fff;
}

.custom-pagination .prev {
  float: left;
}

.custom-pagination .next {
  float: right;
}

.form-wrap {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

#map {
  width: 100%;
  height: 445px;
  margin-top: -200px;
  z-index: -1;
}

.cover_1 {
  position: relative;
  overflow: hidden;
}

.cover_1.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .2;
}

.cover_1 .lead {
  color: #fff;
  font-size: 18px;
}

.cover_1 .img_bg {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
}

.cover_1 .img_bg, .cover_1 .img_bg > .container > .row {
  min-height: 700px;
  height: 100vh;
}

.cover_1.cover_sm .img_bg, .cover_1.cover_sm .img_bg > .container > .row {
  min-height: 600px;
  height: 80vh;
}

.cover_1 .sub-heading {
  color: white;
  font-size: 26px;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .cover_1 .sub-heading {
    font-size: 20px;
  }
}

.cover_1 .heading {
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .cover_1 .heading {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
  }
}

.cover_1 a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.cover_1 a:hover {
  color: #fff;
  border-bottom: none;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.menus .item .image, .menus .item .text {
  width: 50%;
}

.menus .item .image {
  background-size: cover;
  background-position: center center;
}

.menus .item .text {
  padding: 40px;
  background: #000;
}

.menus .item .text h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

.menus .item .text p {
  color: #fff;
  font-size: 13px;
  opacity: .5;
}

.menus .item .text .price {
  font-size: 30px;
  color: #ff7a5c;
  opacity: 1;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

.small-gutters {
  margin-right: -15px;
  margin-left: -15px;
}

.small-gutters > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.medium-gutters {
  margin-right: -30px;
  margin-left: -30px;
}

.medium-gutters > [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

.large-gutters {
  margin-right: -45px;
  margin-left: -45px;
}

.large-gutters > [class*="col-"] {
  padding-right: 45px;
  padding-left: 45px;
}

.accordion .btn-block {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.accordion .btn-block .icon {
  position: absolute;
  right: 30px;
  height: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
}

.accordion .btn-block .icon:before {
  font-family: "Ionicons";
  position: absolute;
}

.accordion .btn-block[aria-expanded="true"] {
  color: #ff7a5c;
}

.accordion .btn-block[aria-expanded="true"] .icon:before {
  content: "\f2f4";
}

.accordion .btn-block[aria-expanded="false"] {
  color: #000;
}

.accordion .btn-block[aria-expanded="false"] .icon:before {
  content: "\f2c7";
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em;
}

.post-info > div {
  display: inline-block;
}

.post-info > div .seperator {
  display: inline-block;
  margin: 0 10px;
  opacity: .5;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 11px;
}

.tagcloud a:hover {
  border: 1px solid #000;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: 400;
  border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: black;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group input {
  padding-right: 50px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.ftco-footer-newsletter .form-group {
  position: relative;
}

.ftco-footer-newsletter .form-group .form-control {
  background: #fff;
  color: #2a3035;
  border: none !important;
  border-radius: 0px;
  padding-right: 70px;
}

.ftco-footer-newsletter .form-group .button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  border: none !important;
  background: none;
}

.ftco-footer-newsletter .form-group .button:active, .ftco-footer-newsletter .form-group .button:focus {
  outline: none;
}

.ftco-footer {
  background: #2a3035;
  padding: 7em 0;
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: -70px;
}

.ftco-footer .footer-widget h3 {
  font-size: 20px;
  color: #fff;
}

.ftco-footer .footer-widget .list-unstyled.social li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.ftco-footer .footer-widget .list-unstyled.social li a {
  font-size: 24px;
  color: #fff;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

/* [Master Stylesheet] */

/* ------------------------------------------------
:: Template Name: Mosh - Creative Business Template
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com
:: Description: Mosh - is a Creative Business Template. It's very clean, creative & beautiful. It's super responsive & ultra light.
:: Tags: Colorlib, App Landing, Apps, Responsive App Landing, Bootstrap 4, Free Theme, Free HTML Template, HTML5 Template etc.
:: Version: v1.0.0
:: Created: 01/02/2018
------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

@import 'css/bootstrap.min.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';

/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_100_0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_0_100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section_padding_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}

#preloader {
    overflow: hidden;
    background-color: #211b31;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.mosh-preloader {
    overflow: hidden;
    -webkit-animation: 3000ms linear 0s normal none infinite running mosh-preloader;
    animation: 3000ms linear 0s normal none infinite running mosh-preloader;
    background-color: transparent;
    border-color: #f1f2f3 #f1f2f3 #4a7aec;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    height: 50px;
    left: calc(50% - 25px);
    position: relative;
    top: calc(50% - 25px);
    width: 50px;
    z-index: 9;
}

@-webkit-keyframes mosh-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes mosh-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 40px;
    background: #4a7aec;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.15);
}

.mosh-table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.mosh-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.section-heading {
    margin-bottom: 100px;
}

/*
.section-heading > p {
    font-weight: 700;
    color: #bec0cc;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
*/

.section-heading > h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 900;
}

.section-heading > h5 {
    font-size: 22px;
    color: #abadbe;
    line-height: 1.8;
    font-weight: 500;
}


/* -------------------------
:: 4.0 Service Area
------------------------- */

.mosh-service-slides {
    position: relative;
    z-index: 1;
}

.single-service-area h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    color: #bec0cc;
}

.mosh-service-slides .center .single-service-area h2,
.single-service-area:hover h2 {
    color: #4a7aec;
}

.single-service-area h4 {
    margin-bottom: 20px;
}

.mosh-service-slides .owl-prev,
.mosh-service-slides .owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    line-height: 50px;
    text-align: center;
    top: 50%;
    margin-top: -30px;
    left: -25px;
    border-radius: 50%;
    color: #a2baff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.mosh-service-slides .owl-next {
    left: auto;
    right: -25px;
}

/* -------------------------
:: 5.0 Clients Area
------------------------- */

.clients-logo-area > a > img {
    max-width: 170px;
    height: auto;
}

/* -------------------------
:: 6.0 Features Area
------------------------- */

.mosh-features-area {
    background-color: #211b31;
    position: relative;
    z-index: 1;
}

.features-img > img {
    width: 40%;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: 9;
}

.mosh-features-area .section-heading {
    margin-bottom: 60px;
}

.mosh-features-area .section-heading h2 {
    color: #fff;
}

.barfiller {
    background: #f4f4f4;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #4a7aec;
    z-index: 1;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    margin-top: -35px;
    padding: 2px 4px;
    font-size: 15px;
    color: #4a7aec;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: transparent;
    font-weight: 500;
}

.barfiller .tip:after {
    display: none;
}

.single_progress_bar p {
    margin-bottom: 10px;
}

/* -------------------------
:: 7.0 More Service Area
------------------------- */

.single-more-service-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 100px 20px;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
}

.single-more-service-area:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
}

.more-service-content > img {
    margin-bottom: 40px;
}

.more-service-content > h4 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

/* -------------------------
:: 8.0 Portfolio Area
------------------------- */

.portfolio-menu {
    margin-bottom: 100px;
    margin-top: -10px;
}

.portfolio-menu > p {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
}

.portfolio-menu > p:hover {
    color: #4a7aec;
}

.single_gallery_item {
    width: 25%;
    display: inline-block;
    float: left;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.single_gallery_item > img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover > img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /></filter></svg>#filter');
    -webkit-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=8);
}

.gallery-hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    background-color: rgba(74, 122, 236, 0.85);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover .gallery-hover-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.port-hover-text h4 {
    color: #fff;
    margin-bottom: 10px;
}

.port-hover-text > a {
    color: #fff;
    font-size: 15px;
}


/* --------------------------------
============= The End =============
---------------------------------*/